.adminDashboardContainer {
  /* background: url("https://res.cloudinary.com/difxhccup/image/upload/v1722364281/loki-season-1-tv-series-2021-tom-hiddleston-marvel-comics-3840x2160-6177_zca3py.jpg"); */
  /* background: url("https://4kwallpapers.com/images/walls/thumbs_3t/12411.jpeg"); */
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: #111111;
}

.adminWrapper {
  height: 90%;
  width: 90%;
  display: flex;
  /* background-color: rgba(0.7, 0.7, 0.7, 0.7); */
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: #2b2b2b2d;
}

.adminWrapper input, textarea{
  background-color: #4242428b;
  outline: none;
}

.sidebar {
  height: 100%;
  width: 15%;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.welcomeText {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.navItem {
  cursor: pointer;
  /* border-right: 1px solid rgba(255, 255, 255, 0); */
  border-radius: 7px;
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  transition: all linear 0.2s;
}

.editMoviesList {
  margin-left: 20px;
  margin-top: -15px;
}

.logoutButton {
  background-color: #dd3c3c;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.logoutButton:hover {
  background-color: #c03636;
}

.mainContent {
  height: 100%;
  width: 85%;
}

.header {
  height: 10%;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerText {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.adminRightBody {
  height: 90%;
}
