.adminLoginContainer{
    background: url("https://res.cloudinary.com/difxhccup/image/upload/v1722364281/loki-season-1-tv-series-2021-tom-hiddleston-marvel-comics-3840x2160-6177_zca3py.jpg");
    background-size: cover;
}
.adminWrapper{
    background-color: rgba(0.7, 0.7, 0.7, 0.7);
    color: white;
    border: 1px solid white;
}
.adminWrapper input{
    background-color: transparent;
    border: 1px solid white;
}